<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="text-align: center; font-family: Arial, Helvetica, sans-serif;">
<p>Working productivity x100</p>
    <div>
        <img style="height: 600px;" src="https://i.pinimg.com/564x/be/5c/54/be5c54fe7d275519c922058a9b52082d.jpg" alt="Avatar">
    </div> 
</body>

</html>