.container-fluid {
  padding: 20px;
  padding-right: 20px !important;
}

.containerCommunity {
  /* padding: 30px 20px 0 !important; */
  box-sizing: content-box;
  margin-bottom: 0;
  flex-grow: 1;
  margin: 0 auto;
}

.containerCreateContentCommunity {
  width: auto !important;
  margin-left: auto !important;
  margin-right: 0 !important;
  display: flex;
  background: transparent;
  border: 1px solid silver;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  user-select: none;
  gap: 0.75rem;
  transition: all .4s ease;
}

.containerGroupContentCommunity {
  height: auto;
  padding: 0 !important;
  margin-bottom: 16px;
  border-radius: 15px;
}

.containerCreateContentCommunity:hover {
  background-color: rgb(128, 128, 128, 0.5);
}

.containerCreateContentCommunity .CommunityCreateIconGroup {
  font-size: 2rem !important;
}

.containerCreateContentCommunity span {
  font-size: 1.1rem !important;
  font-weight: 600;
  padding-left: 10px;
  text-transform: uppercase;
}

.ImgGroupAvatar {
  width: 80px;
  height: 80px;
  border: 1px solid silver;
  border-radius: 50%;
  object-fit: cover;
}

.CommunityGroupRow {
  display: flex;
  align-items: center;

  padding: 20px;
}

.CommunityInformationGroup {
  padding-left: 25px;
}

.CommunityInformationGroup span {
  display: block;
}

.CommunityInformationGroup .CommunityInformationTitle {
  text-decoration: none;
  font-weight: 600;
}

.CommunityInformationGroup .CommunityInformationTitle:hover {
  text-decoration: underline;
}

.CommunityInformationButton {
  margin-left: auto;
}

.CommunityInformationButton button {
  padding: 5px 10px;
  border: 1px solid silver;
  border-radius: 8px;
  background-color: transparent;
  transition: all .6s ease;
}

.OutGroupColorButton {
  color: rgb(255, 0, 0);
}

.CommunityInformationButton button:hover {
  background-color: rgb(128, 128, 128, 0.5);
}

.CreateGroupModalBody {
  display: block;
}

.CommunityLoadingTitle {
  display: flex;
  flex-direction: column;
  margin: 50px 0;
  position: relative;
  justify-content: center;
  align-items: center;
}

.CommunityLoadingTitle span {
  font-size: 1.2rem;
  font-weight: 500;
}