.suggestionFriend {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
  align-items: center;
}
.suggestionFriend-user {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.suggestionFriend-user-img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
}
.suggestionFriend-title {
  display: flex;
  flex-direction: column;
}
.suggestionFriend-title-name {
  font-weight: 600;
}
.suggestionFriend-title-link {
  text-decoration: none;
}
.suggestionFriend-title-link:hover {
  cursor: pointer;
}
.suggestionFriend-add-friend {
  color: rgb(23, 107, 110);
  font-weight: 500;
}
.suggestionFriend-add-friend:hover {
  color: rgb(4, 62, 64);
  transition: 0.5s;
  cursor: pointer;
}
