* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.containerProfile {
    padding-top: 30px;
    box-sizing: content-box;
    margin-bottom: 0;
    flex-grow: 1;
    margin: 0 auto;
}

.ProfileHeader {
    margin-bottom: 44px;
}

.ProfileRow {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.ProfileFollowButtonLink {
    margin-right: 20px;
    cursor: pointer;
}

.ProfileFollowButtonLink:hover {
    color: #9EEDEF
}

.ProfileRow span a {
    text-decoration: none;
}

.ProfileTitle {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
}

.ProfileLinkContainer {
    margin-left: 20px;
}

.ProfileLinkButton {
    display: flex;
    border: 0;
    background-color: transparent;
}

.ProfileLinkButton a {
    text-decoration: none;
    align-items: center;
    padding: 3px 16px;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 8px;
}

.ProfileLinkButton a:hover {
    background-color: rgb(128, 128, 128, 0.5);
}

.ProfileSettingIcon {
    margin: 5px;
    cursor: pointer;
}

.ChangeAvatar {
    cursor: pointer;
    height: 100%;
    padding: 0 !important;
    width: 100%;
    background-color: transparent !important;
    border: 0 !important;
}

.ProfileAvatarImg {
    /*     left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    vertical-align: middle; */
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: white;
}

.Profile_Avatar {
    max-width: 150px;
    width: auto;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.Profile_Avatar_Content {
    background-color: rgb(var(--ig-secondary-background));
    border-radius: 50%;
    box-sizing: border-box;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    border: 1px solid #eceff1 !important;
}

.containerFeature {
    letter-spacing: 1px;
}

.containerFeature .row .col-md-3 a span {
    text-transform: uppercase;
}

.ColumnProfileFeature {
    cursor: pointer;
    display: flex !important;
    flex-direction: row;
    height: 52px;
    width: auto !important;
    justify-content: center;
    align-items: center;
}

.ColumnProfileFeature a span {
    margin-left: 6px;
}

.ModalBody {
    padding: 0 !important;
    width: 100%;
}

.ButtonChangeAvatarContainer {
    align-items: center;
    border: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    vertical-align: baseline;
}

.ButtonUploadAvatarProfile {
    color: #0095f6;
}

.ButtonDeleteAvatarProfile {
    color: #ed4956;
}

.ShowImageWhenUpload {
    max-width: 400px;
    max-height: 400px;
}

.ProfileShowImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.ProfileAvatarModalBody {
    display: block;
    padding: 0 !important;
}

.ProfileInformationModalBody {
    display: block;
}

#ProfileUploadFile {
    display: none;
}

.HandleButtonProfile {
    width: 100%;
    height: 60px;
    margin: 0 !important;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.HandleButtonProfile:not(:first-child) {
    border-top: 1px solid silver;
}

.HandleButtonProfile:hover {
    background-color: rgb(128, 128, 128, 0.5);
}

.ProfileUploadColor {
    color: #00BDFF;
}

.ProfileRemoveColor {
    color: #ed4956;
}

.HandleButtonProfileWhileEmpty {
    width: 100%;
    height: 100% !important;
}

/* .ProfilePostAvatarContent{
height: 50px;
}
.ProfilePostAvatarAndNameLink{
    border-radius: 50%;
    box-sizing: border-box;
    height: 100%;
    position: relative;
    width: 100%;
}
.ProfilePostAvatar{
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    vertical-align: middle;
    width: 100%;
    cursor: pointer;
    background-color: white;
}
.ProfileInformPost{
display: block;
} */
.ProfileInformPost {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.ProfilePostHeader {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.ProfilePostContent {
    margin: 20px 0 50px 0;
    padding: 0 !important;
}

.ProfilePostImg {
    padding: 0 !important;
    width: 550px !important;
    height: 700px !important;
    position: relative;
}

.ProfilePostImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ProfilePostFooter {
    width: 550px !important;
    padding: 0 !important;
}

.ProfilePostInformationOfPost {
    display: flex;
    flex-direction: column;
}

.ProfilePostImg .fa-chevron-right {
    width: 30px;
    height: 30px;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProfilePostImg .fa-angle-left {
    width: 30px;
    height: 30px;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-angle-left:hover,
.fa-chevron-right:hover {
    transition: 0.5s;
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.8);
}

.ProfileFollowImgContent {
    width: 50px;
    height: 50px;
    margin-right: 8px;
}

.ProfileFollowImgContent img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.ProfileFollowerContainer {
    border-radius: 12px;
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    max-height: 300px;
    overflow-y: scroll;
    position: relative;
}

.ProfileFollowRowContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    font-size: 1.1rem;
}

.ProfileFollowRowContent button {
    margin-left: auto;
    background-color: #07bbff;
    color: white;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 5px 16px;
    border-radius: 12px;
}

.ProfileFollowRowContent button:hover {
    background-color: #0095f6;
}

.ProfileFollowSuggestForYou {
    font-weight: 600;
    margin-bottom: 12px;
}

.ProfileFollowLink {
    text-decoration: none;
    color: black;
}

.ProfileFollowButtonMoreDetail {
    margin: 20px 0;
}

.ProfileFollowButtonMoreDetail button {
    width: 100%;
    padding: 5px 10px;
    border: 0;
    outline: 0;
    border-radius: 12px;
    background-color: #0095f6;
    color: #ffffff;
}

.ProfileFollowButtonMoreDetail button:hover {
    background-color: #0095f6;
}

.ProfileFollowerHeader {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    font-weight: 500;
}

.ProfileFollowerHeader span a {
    text-decoration: none;
}

.ProfileFollowSuggestContainer {
    padding-top: 30px;
    max-width: 600px;
    margin: 0 auto;
    flex: 0.6;
}

.ProfileTitleChangeAvatar {
    border: 0;
    font-size: 1.2rem;
    padding: 0;
    text-align: center;
    border-bottom: 1px solid silver;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProfileButtonHandleClose {
    height: 60px;
    border-top: 1px solid silver;
    display: flex;
    justify-content: center;
    align-items: center;
}

.read-more {
    cursor: pointer;
    color: #00BDFF;
}

.read-more:hover {
    color: #0095f6;
}

.ProfileDescriptionUser {
    width: 500px;
    position: relative;
    bottom: 30px;
}

.ProfileDescriptionUser span {
    word-break: break-all;
    max-width: 500px;
    display: inline-block;
}

.ProfileRowDescription {
    display: flex;
    justify-content: center;
    position: relative;
}

.FindArena {
    display: flex;
    align-items: center;
}

.FindArena .css-b62m3t-container {
    width: 30%;
    margin: 0 8px;
}

.FindArena .btn-primary {
    margin: 0 auto !important;
}

.FindArena .btn-primary .fa-magnifying-glass,
.fa-arrow-rotate-right {
    color: #fff;
}

.suggestFollowContainer {
    display: flex;
    flex-direction: row;
}

.suggestFollowAdvertisement {
    flex: 0.2;
    width: auto;
    min-width: 320px;
    max-height: 500px;
    height: auto;
    padding-top: 30px;
}

.suggestFollowAdvertisement img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}